.description {
    color: #444;
    font-size: small;
}
.price {
    font-weight: bold;
}
.featured {
    background: #57595D;
    -webkit-border-image: -webkit-linear-gradient(right, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
         -o-border-image: linear-gradient(to-left, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
            border-image: linear-gradient(to-left, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
    border-image-slice: 1;
}